<% @articles.each do |article| %>
  <div class="new_article">
    <p class="new_article_title"><%= link_to article.title, article_path(article.id),:id => 'new_article_title_str', class: "new_article_title_str" %></p>
    <p class="new_article_content"><%= article.content %></p> <%#ここは54文字まで%>
  </div>
<% end %>
