<%# CSS・・・assets/stylesheets/top/index.scss %>
<%= render "shared/header" %>

  <p>Mono Siri College</p>
  <div class="video_wrap">
    <div class="top_video" id="top_video" data-video="./assets/videos/top_video.mp4" data-poster="./assets/images/college_logo.png">
      <video id="video" src="./assets/videos/top_video.mp4" playsinline="" muted="" loop="" autoplay="" poster="./assets/images/college_logo.png" style="width: 1920; height: 1080px;"></video>
    </div>
    <div class="back_ground"></div>
  <div>