<%#<%= render "shared/second-header"%>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        アカウント登録
      </h1>
    </div>
    <%= render partial: "form" %>
  </div>
<%#<%= render "shared/second-footer"%>