//背景色
.new_article_editor_wrap {
  position: relative;
  top: 50px;
  height: 100vw;
  width: 100%;
  background-color: rgba(41, 47, 51, 0.89);
}

//背景色にフィルタ
.dammy {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(http://www.webcreatorbox.com/sample/images/yokojima.png) repeat;
}

//エディタの領域（中央寄席にするため別要素に指定）
.new_article_editor {
  width: 50%;
  margin: 0 auto;
}

//ページ上部のタイトル
.post_title {
  margin-top: 15px;
  color: lightskyblue;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

//エディタのタイトル
.new_article_editor_title {
  padding-top: 30px;
  padding-left: 20px;
}

//エディタのラベル部分
.label_new_article_title_editor,
.label_new_article_content_editor {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

//タイトル入力欄
.new_article_title_editor_box {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
}

.new_article_editor_content {
  margin-top: 30px;
  margin-left: 20px;
}

//コンテンツ入力欄
.new_article_content_editor_box {
  overflow: auto;
  width: 100%;
  height: 300px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
}

//リッチテキストの装飾効果ボタン
.trix-button-group {
  background-color: #FFF;
}

.post_article {
  margin-top: 20px;
}

.post_article_btn {
  position: absolute;
  left: 38%;
  border: none;
  border-radius: 5px;
  width: 25%;
  height: 40px;
  background-color: lightskyblue;
  font-weight: bold;
}
