.video_wrap {
  position: fixed;
  top: 45px;
  z-index: 1;
}

#top_video {
  position: absolute;
  width: 100vw;
  top: 7.5px;
  z-index: 0;
}

.back_ground {
  position: absolute;
  background: url(http://www.webcreatorbox.com/sample/images/yokojima.png) repeat 0 0;
  height: 1920px;
  width: 100vw;
  top: 7.5px;
  z-index: 2;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FFF;
  font-size: 700%;
  position: absolute;
  left: 21.5%;
  top: 100px;
  z-index: 2;
}

.slice_mono {
  color: aqua;
}
.slice_siri {
  color: #FFF;
}

.slice_college {
  color: cyan;
}

.topics {
  display: flex;
  position: absolute;
  background-color: rgba(219, 130, 14, 0.4);
  width: 100vw;
  height: 450px;
  top: 225px;
  z-index: 2; 
}

.twitter_emb {
  position: absolute;
  top: 20px;
  left: 50px;
}

.new_articles_header {
  position: absolute;
  top: 20px;
  left: 450px;
  height: 43px;
  width: 940px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(41, 47, 51);
  border-bottom: solid 0.3px gray;
  color: #FFF;
  font-size: 18px;
}

.new_articles_content {
  position: absolute;
  top: 64px;
  left: 450px;
  height: 357px;
  width: 940px;
  border-radius: 0 0 5px 5px;
  background-color: rgb(41, 47, 51);
  color: #FFF;
  font-size: 18px;
  overflow: auto;
}

.new_articles_header_title {
  margin: 9px 0 0 10px;
}

.new_article {
  border-bottom: inset 1px lightskyblue;
}

a.new_article_title_str {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: lightskyblue;
  margin: 10px 0 0 10px;
}

.new_article_title {
  margin-top: 5px;
}

.new_article_content {
  margin: 5px 0 0 10px;
  font-size: 14px;
}

.trix-content {
  margin-left: 20px;
}
