<%# CSS・・・assets/stylesheets/shared/error_alert.scss %>
<% if model.errors.any? %>
<div class="error-alert">
  <a class="error_title">!!! Error !!!</a>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li class='error-message'><%= "◆" + message %></li>
    <% end %>
  </ul>
</div>
<% end %>