<% num = 0 %>
<% @articles.each do |article| %>
<% num += 1 %>
  <div class="new_articles_respect_index">
    <p class="new_articles_respect_title">
      <% if article.title.length >= 40 %>
        <%= link_to article.title.truncate(40), article_path(article.id),:id => "new_article_title_str#{num}" , class: "new_article_title_str" %>
      <% else %>
        <%= link_to article.title, article_path(article.id),:id => "new_article_title_str#{num}" , class: "new_article_title_str" %>
      <% end %>
    </p>
    <p class="new_articles_respect_content">
      <% article_content = strip_tags(article.content.to_s).gsub(/[\n]/,"").strip %>
      <% if article_content.length >= 50 %>
        <%= article_content.truncate(50) %>
      <% else %>
        <%= article_content %>
      <% end %>
    </p>
  </div>
<% end %>
