<%= render "shared/header" %>

<div class="new_articles_index_wrap">
<div class="new_articles_index_dammy">
  <h1 class="new_articles_index_title">INDEX ARTICLES</h1>
  <div class="new_articles_index_viewer">
      <%= render "new_articles" %>
    <%= paginate @articles %>
  </div>
</div>
</div>