footer {
  box-sizing: border-box;
  z-index: 999;
  height: 50px;
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
}