* {
  box-sizing: border-box;
}

.nav_header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
}

.site_header_logo {
  height: 50px;
}

//メニューボタン
.site_gnav_list {
  display: flex;
  font-weight: bold;
}

.sub_menu {
  display: none;
  background-color: lightskyblue;
}

.sub_menu ul li a{
  color: brown;
}

.top, .news, .articles, .users, .log_in_btn, .sign_in_btn {
  margin-left: 40px;
  a {
    text-decoration: none;
    font-size: 20px;
    color: darkslategray;
  }
}

img.user_image, img.twitter_logo {
  $length: 40px;
  border-radius: 50%;
  width: $length;
  height: $length;
}

img.twitter_logo {
  margin: 5px 200px 0 200px;
}

.user_data {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
}

.certificate_number {
  margin: 0 10px 0 10px;
  color: darkslategray;
  font-weight: bold;
}

.user_name {
  display: flex;
  margin: 0 10px 0 10px;
  color: darkslategray;
  font-weight: bold;
}

img.user_image {
  margin-top: 5px;
}