<h1>退会の確認</h1>

<%= @user.last_name + @user.first_name + "さん" %>
<p>本当に退会しますか？</p>
<ul>
  <li>退会すると、今までに投稿した記事は全て削除されてしまいます</li>
  <li>退会後に再度会員登録しても、前回登録時の記事は復元できません</li>
</ul>

<div>
  <li><%= link_to "はい。上記の注意点を了承したうえで退会します。", user_path, {method: "delete"} %></li>
  <li><%= link_to "いいえ。今回は退会しません。(プロフィール画面に戻ります)", user_path %></li>
</div>
