* {
  box-sizing: border-box;
}

//ユーザ一覧画面全体
.users_index_wrap {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100vw;
  background-color: rgba(41, 47, 51, 0.89);
}

//画面上部のタイトル
.user_viewer_profile_title {
  margin-top: 15px;
  color: lightskyblue;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

//ユーザリストテーブル
.users_index_profile {
  margin: 30px auto 0 auto;
  height: 60px;
  vertical-align: middle;

  //ユーザアイコン
  .users_index_icon {
    width: 50px;
  }

  //ユーザネーム
  .users_index_name {
    width: 250px;
    vertical-align: middle;

    //ユーザネームのアンカーリンク
    .users_index_username {
      text-decoration: none;
      color: #FFF;
    }
  }

  //ユーザプロフィール
  .users_index_profile {
    width: 600px;
    text-align: left;
  }

}

.users_index_wrap {
  .pagination {
    width: 30%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.342);
    border-radius: 10px;
    font-size: 20px;
  }

  //全体に適用するように修正予定
  .new_article_title_str {
    color: skyblue;
    text-decoration: none;
    font-weight: bold ;
  }

  .current {
    color: skyblue ;
    font-weight: bold;
    font-size: 20px;
  }
}