//ユーザ一覧画面全体
.users_index_wrap {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: rgba(41, 47, 51, 0.89);
}

//画面上部のタイトル
.user_viewer_profile_title {
  margin-top: 15px;
  color: lightskyblue;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
